.menu1{
    border: 5px solid;
}
.menu2 h1{
    text-align: center;
    border: solid 8px;
    font-size: 60px;
    margin: 5px;
}
.menu2 h3{
    position: absolute;
    left: 25%;
    border: solid 5px;
    display: block;
    font-size: 30px;
    }



.menu3 h3 {
    position: absolute;
    left: 45%;
}

.menu4 {
    position: absolute;
    left: 60%
}

.menu5 h2{
    position: relative;
    border: solid 5px;
    display: inline-block;
    bottom: -100px;
    left:40%;
    font-size: 50px;
}
.menu6 h3{
    position: relative;
    text-decoration: underline;
    bottom: -200px;
    left: 15%;
    
}
.menu7 h3 {
    position: relative;
    text-decoration: underline;
    bottom: -160px;
    left: 50%;
}

.menu8 p {
    position: relative;
    bottom: -160px;
    left: 14%;
    }
.menu9 p{
    position: relative;
    bottom: -54px;
    left: 50%;
}
.menu10 h3{
    position: relative;
    text-decoration: underline;
    bottom: -100px;
    left: 13%;
}

.menu11 img{
    width: 300px;
    height: 250pxpx;
    position: relative;
    bottom: -100px;
    left: 10%;
    border: 5px solid;
    border-radius: 20px;
    
}
.menu11 p{
    position: relative;
    left: 50%;
    bottom: 80px;
    font-weight: bold;
}

.menu12 img{
    width: 300px;
    height: 250px;
    position: relative;
    bottom: -100px;
    left: 50%;
    border: 5px solid;
    border-radius: 20px;
    
}
.menu12 p{
    position: relative;
    left: 10%;
    bottom: 100px;
    font-weight: bold;
}

.menu13 img{
    width: 300px;
    height: 250px;
    position: relative;
    bottom: -100px;
    left: 10%;
    border: 5px solid;
    border-radius: 20px;
    
}
.menu13 p{
    position: relative;
    left: 50%;
    bottom: 80px;
    font-weight: bold;
}

.menu14 h2{
    position: relative;
    border: solid 5px;
    display: inline-block;
    bottom: -100px;
    left:40%;
    font-size: 50px;
}
.menu15 h3 {
    position: relative;
    text-decoration: underline;
    bottom: -200px;
    left: 15%;
    
}
.menu16 h3{
     position: relative;
    text-decoration: underline;
    bottom: -160px;
    left: 50%;
}
.menu17 p{
    position: relative;
    bottom: -160px;
    left: 14%;
    
}
.menu18 p{
   position: relative;
    bottom: -18px;
    left: 50%;
}
.menu19 h3{
     position: relative;
    text-decoration: underline;
    bottom: -100px;
    left: 13%;
}

.menu20 img{
    width: 300px;
    height: 250pxpx;
    position: relative;
    bottom: -100px;
    left: 10%;
    border: 5px solid;
    border-radius: 20px;
    
}
.menu20 p{
    position: relative;
    left: 50%;
    bottom: 80px;
    font-weight: bold;
}

.menu21 img{
    width: 300px;
    height: 250px;
    position: relative;
    bottom: -100px;
    left: 50%;
    border: 5px solid;
    border-radius: 20px;
    
}
.menu21 p{
    position: relative;
    left: 10%;
    bottom: 100px;
    font-weight: bold;
}

.menu22 img{
    width: 300px;
    height: 250px;
    position: relative;
    bottom: -100px;
    left: 10%;
    border: 5px solid;
    border-radius: 20px;
    
}
.menu22 p{
    position: relative;
    left: 50%;
    bottom: 80px;
    font-weight: bold;
}
.menu23 img{
    width: 300px;
    height: 250px;
    position: relative;
    bottom: -100px;
    left: 50%;
    border: 5px solid;
    border-radius: 20px;
    
}
.menu23 p{
    position: relative;
    left: 10%;
    bottom: 100px;
    font-weight: bold;
}
.menuboard{
    border: 5px solid
}

    
