.home{
    background-image: url(MaggiesHome2.jpg);
    background-repeat: no-repeat;
    background-size: 1500px 800px;
}
.MagCenter{
     text-align: center;
    padding: 200px;
    font-family: "Sans-serif",Monospace;
    font-size: 25px;
    color: #00640f; 
    text-transform: uppercase;
    }

.mainheads{
    text-align: center;
    padding: 75px;
}

.services{
    background-image: url(Backquilt.png);
}

.order{
    background-image: url(restaurant.png)
}

h3 {
    color: #00640f;
    text-transform: uppercase;
}
.magservice{
    font-family: "Sans-serif",Monospace;
    font-size: 20px;
    
}

.boxalign{
    text-align: right;
    font-size: 20px;
    margin: 25px;
   
    
}


.full{
    position: absolute;
    top: 220px;
    right: 0;
}



