.home{
    background-image: url(MaggiesHome2.jpg);
    background-repeat: no-repeat;
    background-size: 1500px 800px;
}
.MagCenter{
     text-align: center;
    padding: 200px;
    font-family: "Sans-serif",Monospace;
    font-size: 25px;
    color: #438811; 
    text-transform: uppercase;
    }

.mainheads{
    text-align: center;
    padding: 75px;
}

.services{
    background-image: url(Backquilt.png);
}

.order{
    background-image: url(restaurant.png)
}

h3 {
    color: #00640f;
    text-transform: uppercase;
}
.magservice{
    font-family: "Sans-serif",Monospace;
    font-size: 20px;
    
}

.boxalign{
    text-align: right;
    font-size: 20px;
    margin: 25px;
   
    
}


.full{
    position: absolute;
    top: 220px;
    right: 0;
}

li {
    float: left;
}

a {
    display: block;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #27ae60;
    top: 0;
    }
li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 12px; 
    text-decoration: none;
    }

li a:hover:not(.active) {
    background-color: #0ea1fd
}

nav {
    margin-left: -12px;
    margin-top: -8px;
    position: relative;
    z-index: 0;
}

.active{
    background-color: #2a99b4;
}

.magslide{
    width: 1343px;
    height: 800px;
   padding: 100px;
    margin: -108px;
    
    
}


