.home{
    background-image: url(MaggiesHome2.jpg);
    background-repeat: no-repeat;
    background-size: 1345px 800px;
    background-origin: border-box;
    overflow-x: hidden;
}

body{
    margin: 0;
}
.MagCenter{
     text-align: center;
    padding: 200px;
    font-family: "Sans-serif",Monospace;
    font-size: 25px;
    color: #438811; 
    text-transform: uppercase;
    border: solid 5px;
    background-color: #f8f8f8;
    }

.mainheads{
    text-align: center;
    padding: 11px;
    border: solid 5px #1276ff;
    background-color: 
}

.services{
    background-image: url(Backquilt.png);
}

.order{
    background-image: url(restaurant.png)
}

h3 {
    color: #00640f;
    text-transform: uppercase;
}
.magservice{
    font-family: "Sans-serif",Monospace;
    font-size: 20px;
    
}

.boxalign{
    text-align: right;
    font-size: 20px;
    margin: 25px;
}


.full{
    position: absolute;
    top: 220px;
    right: 0;
}

li {
    float: left;
}

a {
    display: block;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #27ae60;*/
    top: 0;
    }
nav a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 12px; 
    text-decoration: none;
    }



.navbar {
    margin-right: 12px;
    float:right;
    margin-top: 65px;
    position: relative;
    z-index: 1;
    font-size: 20px;
    overflow: hidden;
}

.active{
    background-color: orange;
}

.magslide{
    width: 1426px;
    height: 800px;
   padding: 1px;
    margin-top: 
    
    
}


/*navbar*/

nav{
    width:auto;
    /*border: 2px solid red;*/
    height: 110px;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    background-color: white;
}

#logo{
    border: 2px solid blue;
    float:left;
    margin-top: 8px;
    margin-left: 12px;
    
    
    
}

#logo img{
    height: 80px;
    padding: 5px;
    
}

.button{
    border: 2px solid orange;
    transition-duration: 0.4s;
}

#Home{
    margin-right: 10px; 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#Menu{
    margin-right: 10px; 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#Services{
    margin-right: 10px; 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#Order{
    margin-right: 10px; 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#Contact{
    margin-right: 10px; 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#Review{
    margin-right: 10px; 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.selector{
    position: absolute;
    /*border: 2px solid blue;*/
    margin-top: 110px;
    height:15px;
    width: 100%;
    z-index: 2;
    background-color: orange;
    margin-right: 0;
    margin-left: 0;
}

.button:hover:not(.active) {
    background-color: yellow;
}




.menuboard {
    border: 3px solid #0e709b;
    overflow: hidden;
    margin-top: 50px;
    background-color: #565a54
}
.menuboard img{
    width: 800px;
    height: 500px;
    margin-top: 100px;
    border-radius: 5%;
}
.borderstyle {
    border:  3px solid #007c30;
}

.menuboard h2,p{
    position: relative;
    left: 900px;
    bottom: 400px;
}
.menuboard p{
    font-size: 20px;
    
}
.menutext {
    border: 1px solid #007c30;
    display: inline;
}
